html {
	padding-top: 1em;
	background-color: lightgray;
}

body {
	background-color: #bcd4e6;
	border: 1px dashed black;
	margin: auto;
	padding: 1em;
	max-width: 800px;
}

table, td {
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 110%;
	background: beige;
	padding: 4px;
}

th {
    background: lightgray;
}
