html {
	padding-top: 1em;
	background-color: lightgray;
}

.wrapper {
	display:flex;
}

.page {
	background-color: #bcd4e6;
	border: 1px dashed black;
	margin: auto;
	padding: 1em;
	max-width: 800px;
	min-width: 800px;
}

pre code.hljs {
  display: block;
}

code.hljs {
  display: inline;
}

table, td {
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 110%;
	background: beige;
	padding: 4px;
}

th {
    background: lightgray;
}

/* The side navigation menu */
.sidebar {
  position: fixed;
  border: 1px dashed black;
  width: 200px;
  background-color: #f1f1f1;
  overflow: auto;
  margin-left: 300px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #66fcf1;
  color: black;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #bcd4e6;
  color: black;
}
